AppMonitor/Web References/WCF_Services/MonitorWCFService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppMonitorWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppMonitorWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfAppEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppEvent" nillable="true" type="tns:AppEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppEvent" nillable="true" type="tns:ArrayOfAppEvent" />
  <xs:complexType name="AppEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppEvent" nillable="true" type="tns:AppEvent" />
</xs:schema>