AppMonitor/Web References/WCF_Services/MonitorWCFService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppMonitorWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppMonitorWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AppMonitor/MonitorWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MonitorWCFService.AppState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STARTED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLOSED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MonitorWCFService.AppState" nillable="true" type="tns:MonitorWCFService.AppState" />
  <xs:complexType name="ArrayOfdbHost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbHost" nillable="true" type="tns:dbHost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbHost" nillable="true" type="tns:ArrayOfdbHost" />
  <xs:complexType name="dbHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbHost" nillable="true" type="tns:dbHost" />
  <xs:complexType name="ArrayOfdbUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbUser" nillable="true" type="tns:dbUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbUser" nillable="true" type="tns:ArrayOfdbUser" />
  <xs:complexType name="dbUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbUser" nillable="true" type="tns:dbUser" />
  <xs:complexType name="ArrayOfdbApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbApplication" nillable="true" type="tns:dbApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbApplication" nillable="true" type="tns:ArrayOfdbApplication" />
  <xs:complexType name="dbApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbApplication" nillable="true" type="tns:dbApplication" />
  <xs:complexType name="ArrayOfdbEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dbEvent" nillable="true" type="tns:dbEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdbEvent" nillable="true" type="tns:ArrayOfdbEvent" />
  <xs:complexType name="dbEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetectDT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsLostDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingTime" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dbEvent" nillable="true" type="tns:dbEvent" />
</xs:schema>