AppMonitor/Web References/WCF_Services/MonitorWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AppMonitor/MonitorWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AppMonitor/MonitorWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AppMonitor/MonitorWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AppMonitorWCFService" />
      <xsd:import schemaLocation="http://localhost/AppMonitor/MonitorWCFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorWCFService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequests" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_AddApplicationEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApplicationEvent" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_AddApplicationEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddApplicationEventResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetHosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHosts" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetHosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplications" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IMonitorWCFService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorWCFService">
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetStatus" message="tns:IMonitorWCFService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetStatusResponse" message="tns:IMonitorWCFService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetRequests" message="tns:IMonitorWCFService_GetRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetRequestsResponse" message="tns:IMonitorWCFService_GetRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddApplicationEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/AddApplicationEvent" message="tns:IMonitorWCFService_AddApplicationEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/AddApplicationEventResponse" message="tns:IMonitorWCFService_AddApplicationEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetHosts" message="tns:IMonitorWCFService_GetHosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetHostsResponse" message="tns:IMonitorWCFService_GetHosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetUsers" message="tns:IMonitorWCFService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetUsersResponse" message="tns:IMonitorWCFService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetApplications" message="tns:IMonitorWCFService_GetApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetApplicationsResponse" message="tns:IMonitorWCFService_GetApplications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorWCFService/GetEvents" message="tns:IMonitorWCFService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorWCFService/GetEventsResponse" message="tns:IMonitorWCFService_GetEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitorWCFService" type="tns:IMonitorWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApplicationEvent">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/AddApplicationEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosts">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetHosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IMonitorWCFService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorWCFService">
    <wsdl:port name="BasicHttpBinding_IMonitorWCFService" binding="tns:BasicHttpBinding_IMonitorWCFService">
      <soap:address location="http://localhost/AppMonitor/MonitorWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>